body {
    background-color: whitesmoke;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Baloo 2', 'Fredoka', 'Comic Sans MS', sans-serif;
}

::selection {
    background-color: palegreen;
    color: white;
}

/* Top bar styling */
#top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: palegreen;
    border: 2px solid green;
    margin: 10px;
    box-shadow: 3px 3px black;
    cursor: pointer;
    font-size: large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

#start-button {
    width: 90px;
    height: 50px;
    padding: 6px 12px;
    border-radius: 8px;
}

#help-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#refresh-button {
    width: 120px;
    height: 50px;
    padding: 6px 12px;
    border-radius: 8px;
}

#github-button {
    width: 110px;
    height: 50px;
    padding: 6px 12px;
    border-radius: 8px;
}

button:hover {
    transform: translateY(-3px);
}

h1 {
    margin: 20px;
    text-align: center;
    font-weight: 900;
    font-size: 1.7rem;
}

/* Help popup */
#help-popup {
    background-color: rgba(202, 202, 202, 0.9);
    border: 2px dotted darkgray;
    padding: 1.5em;
    text-align: center;
    animation: fade-in 0.3s ease-in-out;
    border-radius: 8px;
    font-size: 1.3rem;
    width: 50%;
    top: 25px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    overflow: auto;
}

.hidden {
    display: none;
}

video {
    height: 50%;
    width: 90%;
}

#close-help {
    border-radius: 8px;
    box-shadow: 3px 3px black;
    width: 90px;
    height: 50px;
    font-size: 1.3rem;
    margin: auto;
}

/* Grid styling */
.grid {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    grid-template-rows: repeat(20, 30px);
    width: max-content;
    padding: 5px;
    margin: auto;
    border: 2px solid black;
}

.row {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.box {
    /* width: 30px;
    height: 30px; */
    border: 1px solid darkgray;
    color: white;
    display: flex;
    box-sizing: border-box;
}

.box:nth-child(5n) {
    border-right: 1px solid black;
}

.alive {
    background-color: rgb(51, 51, 51);
}

.dead {
    background-color: whitesmoke;
}

@media (max-width: 780px) {
    .grid {
        grid-template-columns: repeat(20, 18px);
        grid-template-rows: repeat(20, 18px);
        padding: 2px;
        width: 360px;
    }

    h1 {
        margin: 10px;
        text-align: center;
        font-weight: 900;
        font-size: 1rem;
    }

    button {
        margin: 5px;
        box-shadow: 1.5px 1.5px black;
        font-size: 0.75rem;
        border-radius: 6px;
    }

    #start-button {
        width: 65px;
        height: 30px;
        padding: 3px 6px;
    }

    #help-button {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }

    #refresh-button {
        width: 75px;
        height: 30px;
        padding: 3px 6px;
    }

    #github-button {
        width: 65px;
        height: 30px;
        padding: 3px 6px;
    }
}


@media (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(20, 15px);
        grid-template-rows: repeat(20, 15px);
        padding: 1px;
        width: 300px;
    }

    h1 {
        margin: 5px;
        text-align: center;
        font-weight: 900;
        font-size: 0.8rem;
    }

    button {
        margin: 5px;
        box-shadow: 1.5px 1.5px black;
        font-size: 0.5rem;
    }

    .box {
        border: 0.3px solid darkgray;
    }

    #start-button {
        width: 35px;
        height: 20px;
        padding: 3px 6px;
        border-radius: 4px;
    }

    #help-button {
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }

    #refresh-button {
        width: 50px;
        height: 20px;
        padding: 3px 6px;
        border-radius: 4px;
    }

    #github-button {
        width: 45px;
        height: 20px;
        padding: 3px 6px;
        border-radius: 4px;
    }

    #help-popup {
        font-size: 1rem;
        font-weight: 500;
    }

    video {
        height: 20%;
        width: 90%;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}